<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>The Better QAF</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body style="background-color:#99ccff">
	<div style="width:50%;text-align:center;margin:auto;margin-top:50px;border:solid;background-color:white;">
      <br>
  	  {% with messages = get_flashed_messages() %}
  	  {% if messages %}
  	  {% for message in messages %}
  	  <div class="alert alert-danger" role="alert">{{ message }}</div>
  	  {% endfor %}
  	  {% endif %}
  	  {% endwith %}
  	  <br>
      <form method="post" action="/join_server">
		<div class="form-group">
		  <label for="serverid">Server Id</label>
		  <input type="text" class="form-control" id="serverid" name="serverid">
		</div>
		<div class="form-group">
		  <label for="password">Server Password</label>
		  <input type="password" class="form-control" id="password" name="password">
		</div>
		<button type="submit" class="btn btn-primary">Login</button>
	  </form>
      <a type="submit" class="btn btn-primary" href="/register">Create an Account</a>
	</div>
  </body>
</html>
