<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>QUAF+ Server Creation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body style="background-color:burlywood">

    <div style="text-align:center;margin:auto;margin-top:100px;width:70%;background-color:beige;">

      <h3><p class="text-info">Server Creation</p></h3>
      <form method="post" action="/make_server">
        <div class="form-group">
          <label for="name"> Name of Server </label>
          <input type="text" name="name" placeholder="e.g. Softdev, Calculus, European Literature" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="description"> Description of Server </label>
          <input type="text" name="description" placeholder="e.g. 'This is very epic' or 'Best server ever'" class="form-control" style="height:200px;" id="description">
        </div>
        <div class="form-group">
          <label for="password"> Server Password (Send out with Server Name) </label>
          <input type="password" name="password" placeholder="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-info">Create Server</button>
      </form>
      <a type="submit" class="btn btn-primary" href="/">Back</a>
      


    </div>

  </body>



</html>
