<!DOCTYPE html>

<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>The Better QAF</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background-color:#99ccff">

<div style="width:50%;text-align:center;margin:auto;margin-top:50px;border:solid;background-color:white;">
<form>
  <div class="form-group">
    <label for="username">Create new username</label>
    <input type="username" class="form-control" id="username">
  </div>
  <div class="form-group">
    <label for="email">Enter email address</label>
    <input type="text" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="password">Create new password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <div class="form-group">
    <label for="conf-password">Confirm password</label>
    <input type="password" class="form-control" id="conf-password">
  </div>
  <div class="form-group">
    <label for="Option2">I am a...</label>
    <select class="form-control" id="Option2">
      <option>Student</option>
      <option>Teacher</option>
    </select>
  </div>
    <div class="form-group">
    <label for="Description">Description/Bio</label>
    <textarea class="form-control" id="Description" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Create Account</button>
</form>
</div>



  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
