<!DOCTYPE html>

<head>
  <title>Signup Page</title>

</head>

<body>

  <center>
    <form action="/authenticate" method="POST">
      <input type="text" name="user" class="form-control-md" placeholder="Username" required>
      <br>
      <input type="password" name="pass1" class="form-control-md" placeholder="Password" required>
      <br>
      <input type="password" name="pass2" class="form-control-md" placeholder="Password Confirmation" required>
      <br>
      <button class="btn btn-info mt-0" type="submit" Submit </button>
    </form>

  </center>

  
</body>
