/*ok*/
.post_author_css{
	color:#8F8F8F;
}

.sidenav {
	height: 100%;
	width: 100px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #CCCCCC;
	overflow-x: hidden;
	padding-top: 20px;
}

.server_link{
	background-color:#000000;
	width:80px;
	height:80px;
	margin:10px;
	text-align:center;
	color:#FFFFFF;
}
.server_link:hover{
	background-color:#404040;
}
.server_link_text{
	text-align:center;
	color:#FFFFFF;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: none;
	display: inline-block;
	max-width: 66px;
	margin: 0 auto;
}

.server_selected{
	border:7px solid #00A153;
}

.main {
	margin-left: 100px;
	padding: 5px;
}
.btn-announce{
	background-color:#671B96;
}
.btn-announce:hover{
	background-color:#5C1787;
}
.btn_question{
	background-color:#9E0000;
}
.btn_question:hover{
	background-color:#8A0000;
}
